<div class="home-cols">
    <div class="left-col">            
      <img class="showingL" src="/Samples/Banner6.jpg" />     
        
    </div>
    <div class="right-col">
        <img class="showingR" src="/Samples/Banner3.jpg" />       
    </div>

</div>