.adminBtn {
    width: 10em;
    height: 4em;
    border: none;
    background-color: black;
    color: white;
    border-radius: 1em;
    cursor: pointer;
    text-decoration:none;
    padding:0.3em 0.8em;
   
}
.table-striped{
    border:1px solid gray;
    margin-top:2em;
    width:100%;
    text-align:left;
    padding:0.5em;
}
.btn-success {
    text-decoration: none;
    padding: 0.2em 0.6em;
    border: none;
    background-color: forestgreen;
    color: white;
    border-radius: 1em;
    cursor: pointer;
}
.btn-danger {
    text-decoration: none;
    padding: 0.2em 0.6em;
    border: none;
    background-color: indianred;
    color: white;
    border-radius: 1em;
    cursor: pointer;
}
table .table-striped{
border-collapse:collapse;
}